<div class="information">
    <div class="container">
        <div class="row">
            <div class="col-3">
                
                <img src="../static/img/sokrates.jpg" width="200px"  alt="">
            </div>
            <div class="col-9">
            <div class="row">
                <div class="col-12">
                    <p>
                        Sokrates, Antik Yunan filozofudur. Heykeltıraş Sophroniskos'un ve ebe Fenarete'nin oğludur. 
                        Yunan Felsefesi'nin kurucularındandır. Özel yaşamına ilişkin fazla bir şey bilinmemekle beraber Sokrates, 
                        Platon ve Ksenophon’a kadar uzanan bir geleneğe göre kendisine üç çocuk veren Ksanthippi ile evlidir.
                    </p>
                </div>
                <div class="quotes col-12">
                    <p>Cahil insan kendinin bile düşmanı iken, başkasına dost olması nasıl beklenir. <span>~Sokrates</span></p>
                </div>
            </div>
            </div>

        </div>
    </div>
</div>